<html>
<meta charset="UTF-8">
<head>
    <title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi" />
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
	<link rel="stylesheet" type="text/css" href="css/notice.css"/>
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
	<script type="text/javascript" src="http://club-terranova.com/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/notice.js"></script>
   
</head>
<body>
	<div class="content">
		<h3>Notice Page</h3>
	    <div id="print">
			
		</div>
	</div>
<script>

</script>
</body>
</html>